*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    padding: 10px;
    color: gray;
}

.card{
    
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    height: 500px;
    width: 300px;
}
img{
    display: block;
    width: 95%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
}

.card h3{
    margin:0 10px;
    font-size: 30px;
}

.buttons button{
    padding: 5px;
    margin: 0 3px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;
    color: gray;

}

.buttons{
    padding:0 16px;
}
.read_more{
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.read_more button{
    padding: 13px 25px;
    border-radius: 30px;
    background-color: hsl(197, 71%, 86%);
    color: hsl(197, 71%, 50%);
    border: none;
    font-weight: bold;
    font-size: 12px;
}